/* 
===================
HEADER & NAVIGATION 
===================
*/

.name-inline {
    text-decoration: none;
}

.name-inline h1,
.name-inline h3 {
    display: inline;
    margin-right: 10px;
}

a.custom-icon {
    
}

