:root {
  --base: #2D3E48;
  --text: #E1EDEF;

  --button-base: #588b9e;
  --button-text: rgb(39, 77, 95);
  --button-hover-base: #4a7b99;
  --button-hover-text: #95bedb;
  --button-active-base: #668891;
  --button-active-text: #d0dbe3;

  --input-base: #3B4D55;
  --input-text: #7f8c97;
  --input-base-focus: #2a3f4d;
  --input-text-focus: #b0bec5;
  --input-border: #334A56;
  --input-border-focus: #3b4e5a;

  --section-base: #98B1C0;
  --card-base: #435761;
  --card-border: #5C7A8D;

  --toggle-base: #4F6E7A;
  --toggle-switch: #AFC7D4;
  --toggle-active-base: #7899A8;
  --toggle-focus-shadow: rgba(175, 199, 211, 0.8);

  --title-text: #E1EDEF;
  --header-text: #B4C8D6;
  --header-base: #1A262F;
  --header-divider: #668891;

  --link-text: #2060a8;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.0;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 3px;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 0.25;
}

Nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}